.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222;
  color: white;
  box-shadow: 2px 2px 10px #777;
}

.header * {
  margin: 0;
  padding: 5px;
  font-weight: 200;
}

#alert {
  margin: 8px;
  background: rgba(237, 55, 86, 0.6);
  border: 1px solid rgb(237, 85, 86);
  font-size: 18px;
  padding: 8px;
  border-radius: 3px;

  color: white;
}

input {
  border: 1px solid #999;
  border-radius: 3px;
  outline: none;
  font-size: 18px;
  padding: 8px;
  margin: 5px;
}

button {
  background: #5d9cec;
  color: white;
  border: none;
  font-size: 18px;
  padding: 8px;
  border-radius: 3px;
  min-width: 38px;
}

button:hover {
  background: #4a89dc;
}

button.red {
  background: #ed5565;
}

button.red:hover {
  background: #da4453;
}

button.green {
  background: #48cfad;
}

button.green:hover {
  background: #37bc98;
}
