a {
  color: #444;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #000;
}
p {
  font-weight: bold;
}
label {
  display: block;
}
#alert {
  display: none;
  color: red;
  font-weight: bold;
}
#registrationAverage {
  display: none;
}
#formStart {
  display: block;
}
#boxMeeting,
#formStop,
#resume {
  display: none;
}
dl > dt {
  font-weight: bold;
  width: 150px;
  display: inline-block;
}
dl > dd {
  width: 200px;
  display: inline-block;
  margin-inline-start: 0;
  vertical-align: text-top;
}
#poweredBy {
  font-size: 14px;
}
#heart {
  color: red;
}
